@model CreateSocialMediaDto

@{
    ViewData["Title"] = "Sosyal Medya Giriş Alanı";
    Layout = "~/Views/Shared/_AdminTemplateLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sosyal Medya Ekleme Alanı Girişi</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="POST">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input asp-for="Title" type="text" class="form-control input-default" placeholder="Lütfen Başlık Kısmını Giriniz..." autocomplete="off">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Icon" type="text" class="form-control input-default" placeholder="Lütfen Icon Kısmını Giriniz..." autocomplete="off">
                            <span asp-validation-for="Icon" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Url" type="text" class="form-control input-default" placeholder="Lütfen Url Kısmını Giriniz..." autocomplete="off">
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>

                        <button class="btn btn-outline-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


